.signupSheet{
    text-align: center;
}

.usernameLine{
    padding-left: 35%;
    padding-right: 35%;
}

.title{
    text-align: center;
}

.sub1 {
    margin-left: 20%;
    margin-top: 10px;
}

.sub2 {
    margin-left: 15%;
    margin-top: 10px;
}